default: &default
  service_id: 5c3166066e21d81b3657983b
  service_key: 745
  nuve_host: http://localhost:3000/
  DB_HOST: localhost
  DB_USER: root
  DB_PASSWORD:
  DB_NAME: add_project_development

development:
  <<: *default
  
test:
  <<: *default
  DB_NAME: add_project_test