default: &default
  adapter: mysql2
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  host: <%= Figaro.env.DB_HOST %>
  username: <%= Figaro.env.DB_USER %>
  password: <%= Figaro.env.DB_PASSWORD %>
  database: <%= Figaro.env.DB_NAME %>

development:
  <<: *default

test:
  <<: *default
